* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.btn {
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 8px 18px;
    margin: 24px auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.grid-style {
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.grid-style-black {
    background-color: black;
}